<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1> Update item</h1>
            <form method="post" action="{% url 'todo_list_update' todo_list.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
